@model IEnumerable<Slider>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int counter = 1;
    int page = ViewBag.page;
    int sliderCount = ViewBag.SliderCount;
}


<div class="col-sm-12">
    <div class="panel">
        <div class="panel-body" style="margin-top:100px">
            <div class="row">
                <div class="col-sm-6">
                    <div class="m-b-30">
                        <a asp-controller="Slider" asp-action="AddSlider" class="btn btn-primary waves-effect waves-light">افزودن <i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="editable-responsive">
                <div id="datatable-editable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row"><div class="col-sm-6"><div class="dataTables_length" id="datatable-editable_length"><label>Show <select name="datatable-editable_length" aria-controls="datatable-editable" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-6"><div id="datatable-editable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="datatable-editable"></label></div></div></div><div class="row">
                        <div class="col-sm-12">
                            @if (TempData["Result"] != null)
                            {
                                @if (TempData["Result"].ToString() == "success")
                                {
                                    <div class="alert alert-info alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        عملیات به شکل	<strong>موفقیت آمیز</strong> انجام شد
                                    </div>
                                }

                                else
                                {
                                    <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        عملیات به شکل	<strong>موفقیت آمیز</strong> انجام نشد
                                    </div>
                                }


                            }
                            @if (TempData["NotFound"] != null)
                            {
                                <script>
                                    setTimeout(function () {
                                        Swal.fire({
                                            position: 'top-end',
                                            icon: 'error',
                                            title: 'سلایدر با این مشخصات پیدا نشد!',
                                            showConfirmButton: false,
                                            timer: 3000
                                        })
                                    }, 100)

                                </script>
                            }
                            <table class="table table-striped dataTable no-footer" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="موتور جستجو: activate to sort column descending">شماره</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="موتور جستجو: activate to sort column descending">تصویر سلایدر</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="موتور جستجو: activate to sort column descending">عنوان سلایدر</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="مرورگر: activate to sort column ascending">لینک سلایدر</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="سیستن عامل: activate to sort column ascending">ترتیب سلایدر</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="سیستن عامل: activate to sort column ascending">Alt سلایدر</th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="فعالیت" style="width: 110px;">فعالیت</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="gradeX odd" role="row">
                                            <td class="sorting_1">@item.SliderId</td>
                                            <td class="sorting_1"><img width="140" height="100" src="~/Site/assets/images/slider-main/@item.ImgSlider" /></td>
                                            <td class="sorting_1">@item.SliderTitle</td>
                                            <td>
                                                @item.SliderLink
                                            </td>
                                            <td>  @item.SliderSort</td>
                                            <td>  @item.SliderAlt</td>
                                            <td class="actions">

                                                <a asp-action="UpdateSlider" asp-route-id="@item.SliderId" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                                <a asp-action="DeleteSlider" asp-route-id="@item.SliderId" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                        counter++;
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div><div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="datatable-editable_info" role="status" aria-live="polite">Showing 1 to 10 of 80 entries</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-editable_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous " aria-controls="datatable-editable" tabindex="0" id="datatable-editable_previous"><a href="/Admin/Slider/Index?page=1">صفحه اول</a></li>
                                    @for (int i = 1; i <= sliderCount; i++)
                                    {
                                    <li class="paginate_button @(i==page?"active":"")" aria-controls="datatable-editable" tabindex="0">
                                    <a href="/Admin/Slider/Index?page=@i">@i</a>
                                    </li>
                                    }
                                    <li class="paginate_button next" aria-controls="datatable-editable" tabindex="0" id="datatable-editable_next"><a href="/Admin/Slider/Index?page=@sliderCount">صفحه آخر</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: panel body -->

    </div> <!-- end panel -->
</div> <!-- end col-->

@section Scripts{
    <script src="~/Site/assets/js/SweetAlert.js"></script>
}