
@model informationAccountViewmodel
@{
    Layout = null;
    string Action = ViewContext.RouteData.Values["Action"].ToString().ToLower();
}

<div class="sidebar-profile sidebar-navigation">
    <section class="profile-box">
        <header class="profile-box-header-inline">
            <div class="profile-avatar user-avatar profile-img">
                <img src="assets/images/man.png">
            </div>
        </header>
        <footer class="profile-box-content-footer">
            <span class="profile-box-nameuser">@(Model.username+" "+Model.userfamily)</span>
            <span class="profile-box-registery-date">@Model.DateTime.ConvertDate()</span>
            <span class="profile-box-phone">شماره همراه :@Model.phone</span>
            <div class="profile-box-tabs">
                <a href="/Account/Logout" class="profile-box-tab-sign-out"><i class="mdi mdi-logout-variant"></i>خروج از حساب</a>
            </div>
        </footer>
    </section>
    <section class="profile-box">
        <ul class="profile-account-navs">
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a href="/user/profileuser/index" class="@(Action =="index"?"active":"")">
                    <i class="mdi mdi-account-outline"></i>
                    پروفایل
                </a>
            </li>

            <li class="profile-account-nav-item navigation-link-dashboard">
                <a href="/showorder" class="@(Action =="showorder"?"active":"")">
                    <i class="mdi mdi-cart"></i>
                    همه سفارش ها
                </a>
            </li>

            <li class="profile-account-nav-item navigation-link-dashboard">
                <a href="/favoirate" class="@(Action =="favoirate"?"active":"")">
                    <i class="mdi mdi-heart"></i>
                    لیست علاقه مندی
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a href="/User/profileuser/address" class="@(Action =="address"?"active":"")">
                    <i class="mdi mdi-map-outline"></i>
                    آدرس ها
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a href="/mycomment" class="@(Action =="mycomment"?"active":"")">
                    <i class="mdi mdi-email-open-outline"></i>
                    نظرات
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a href="/EditUser" class="@(Action =="edituser"?"active":"")">
                    <i class="mdi mdi-tooltip-text-outline"></i>
                    اطلاعات حساب
                </a>
            </li>
        </ul>
    </section>
</div>